@import url('https://fonts.googleapis.com/css?family=Miniver|Open+Sans:300,700|PT+Serif:400i');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px; /*1em = 16px*/
	color: #333333;
	line-height: 1.4;
}
header {
	background-image: url("mainimage_new.jpg");
	background-size: 1165px;
}
.topper {
    position: relative;
    width: 100%;
}
.topper h1 {
    position: absolute;
	text-align: center;
	font-weight: 700;
	font-size: 2.2em;
	text-transform: uppercase;
    padding: 10px;
}
/*h1 {
	font-weight: 700;
	font-size: 2.2em;
	color: #000;
}*/
h2 {
	font-family: 'PT Serif', serif;
	text-transform: uppercase;
	font-size: 1.25em;
}

h3 {
	font-family: 'PT Serif', serif;
	text-transform: lowercase;
	font-size: 1em;
}
/*hr{
	border:none;
	height:2px;
	background-color: #0099ff;
	margin-right: 20px;
	width:2em auto;
}*/
a {
	color: #0099ff; 
	text-decoration: none;
}
.nav{
    list-style:none;
    margin:0;
    padding:0;
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
    text-align:center;
    letter-spacing: 3px;
    font-size: 1em;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}
main {
	width: 20%;
}
/*aside{
	padding-top: 20px;
	float: right;
	width: 320px;
}*/
footer {
	background-color: #cccccc;
	padding: 20px;
	text-align: center;
	text-transform: uppercase;
	height:40px;
	padding:10px 0;
}
span {
	font-weight: 700;
}
#wrapper {
	width: 1165px;
	margin-left: auto;
	margin-right: auto;
}
/*#topper {
    position: relative;
    width: 100%;
}*/

.about{

}
#reserve {
	clear: both;
	font-family: 'Miniver', decorative;
	text-transform: uppercase;
	line-height: 2.25;
}
#veg {

}
#contact {
	font-family: 'Miniver', display;
	color: #fff;
}
.table {
	width: 100%;
}
#hire {

}