@import url('https://fonts.googleapis.com/css?family=Miniver|Open+Sans:300,700|PT+Serif:400i');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px; /*1em = 16px*/
	color: #333333;
	line-height: 1.5;
}

a {
	color: #23a7e0;
	text-decoration: none;
}
nav {
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
}
nav a {
    display:inline-block;
    padding: 1em;
}

nav a:hover {
	background-color: #23a7e0;
	color: #fff;
}

span {
	font-weight: 700;
}

header {
/*	padding: 10px 0;*/
	background-image: url("mainimage_new.jpg");
	background-size: 100%;
	background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}
.header-content {
    background: url(../images/mainimage_new.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 50vh;
    padding-top: 7em;
}

h1 {
	color: #333333;
	text-align: center;
	font-size: 2em;
	font-weight: 700;
	text-transform: uppercase;
	color: #fff;
}

h2 {
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
    font-size: 1.25em;
}

h3 {
	font-family: 'PT Serif', serif;
    text-transform:lowercase;
    font-style: .75em;
}

h4, h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	font-size:16px;
	text-transform:uppercase;
}

h6 {
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	text-transform:uppercase;
}

main {
	float: left;
	width: 800px;
}

aside {
	padding-top: 20px;
	float: right;
	width: 320px;
}

#topper {
    position:relative;
    width: 100%;
    background-size: 1165px;
}

#quadrant {
	width: 60%;
	background-color: #E89C6C;
    border: 1px black solid;
    margin-top: 10px;
    padding: 40px;
}

#about {
<<<<<<< HEAD
	float: left;
	width: 40%;
	margin-top: 5px;
	margin-bottom: 10px;
	background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
=======
	width: 1200px;
	margin: auto;
}
#about > * {
	float:left;
	width:50%;
}
#about div {
	padding: 4em 0 0 4em;
>>>>>>> e4d0228cb3bf054c0753dff0665108c3250be0d8
}
.reserve {
	clear: both;
	background-image: url("tableresrve.jpg");
	background-size: 100%;
	position: relative;
}

.reserve p{
	position: absolute;
	font-family: 'Miniver', decorative;
	font-size: 2em;
    color: #fff;
    text-align: center;
    padding-top: 30px;
    margin-top: 20px;
}

.recipe {
	float: left;
	width: 400px;
}

#okra{
	size: 20%;
}

.table {
	background-image: url("table_photo.jpg");
	background-size: 100%;
	position: relative;
}

.table p{
	position: absolute;
/*	transform: translate(0%, -50%);*/
	color: #000;
	text-align: center;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
}

#honk{
	width: 15%;
	padding: 20px, 0, 20px, 0;
}

#wrapper {
	width: 1165px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

footer{
	background-color: #FF957E;
	border: 1px black solid;
	padding: 20px;
	text-align: center;
}
footer > * {
	display:inline-block;
}
.clearfix:after {
	display:block;
	clear:both;
	content:"";
}
