@import url('https://fonts.googleapis.com/css?family=Miniver|Open+Sans:300,700|PT+Serif:400i');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px; /*1em = 16px*/
	color: #333333;
	line-height: 1.5;
}

a {
	color: #333333;
	text-decoration: none;
}

.nav {
    list-style:none;
    margin:0;
    padding:0;
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-size: 1em;
  	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
    margin-bottom: 10px;
}

.nav li {
    display:inline;
}

.nav a {
    display:inline-block;
    padding:10px;
}

nav a:hover {
	background-color: #0099ff;;
}

span {
	font-weight: 700;
}

header {
/*	padding: 10px 0;*/
	background-image: url("mainimage_new.jpg");
	background-size: 100%;
	background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}

header .header-content {
	position: relative;
}

h1 {
	color: #333333;
	text-align: center;
	font-size: 2.1em;
	font-weight: 700;
	text-transform: uppercase;
	position: absolute;
	transform: translate(0%, -50%);
    top: 50%;
    color: #fff;	
}

h2 {
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
    font-size: 1.25em;
}

h3 {
	font-family: 'PT Serif', serif;
    text-transform:lowercase;
    font-style: .75em;
}

h4, h5 {
	font-family: 'Open Sans', sans-serif;
	font-weight:700;
	font-size:16px;
	text-transform:uppercase;
}

h6 {
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	text-transform:uppercase;
}

main {
	float: left;
	width: 800px;
}

aside {
	padding-top: 20px;
	float: right;
	width: 320px;
}

#topper {
    position:relative;
    width: 100%;
    background-size: 1165px;
}

#quadrant {
	width: 488.5px;
	background-color: #E89C6C;
    border: 1px black solid;
    margin-top: 10px;
    padding: 40px;
}

#about {
	float: right;
	width: 600px;
	margin-top: 5px;
	margin-bottom: 10px;
	background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}

.reserve {
	clear: both;
	background-image: url("tableresrve.jpg");
	background-size: 100%;
	position: relative;
}

.reserve p{
	position: absolute;
	font-family: 'Miniver', decorative;
	font-size: 2em;
    color: #fff;
    text-align: center;
    padding-top: 30px;
    margin-top: 20px;
}

.recipe {
	float: right;
	width: 400px;
}

#okra{
	size: 20%;
}

.table {
	background-image: url("table_photo.jpg");
	background-size: 100%;
	position: relative;
}

.table p{
	position: absolute;
/*	transform: translate(0%, -50%);*/
	color: #000;
	text-align: center;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
}

#honk{
	width: 15%;
	padding: 20px, 0, 20px, 0;
}

#wrapper {
	width: 1165px;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

footer{
	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
}