@import url('https://fonts.googleapis.com/css?family=Miniver|Open+Sans:300,700|PT+Serif:400i');

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size: 16px; /*1em = 16px*/
	color: #333333;
	line-height: 1.5;
}
a {
	color: #0099ff;
	text-decoration: none;
}
.nav {
    list-style:none;
    margin:0;
    padding:0;
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
    text-align:center;
    letter-spacing: 3px;
    font-size: 1em;
/*  background-color: ##E8C66A;
    border: 1px black solid;
    padding: 20px;*/
}
}
.nav li {
    display:inline;
}
.nav a {
    display:inline-block;
    padding:10px;
}
span {
	font-weight: 700;
}
header {
/*	padding: 10px 0;*/*/
	background-image: url("mainimage_new.jpg");
	background-size: 100%;
/*	background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}*/
h1 {
	color: #333333;
	text-align: center;
	font-size: 2.1em;
	font-weight: 700;
	text-transform: uppercase;
}
h2 {
    font-family: 'PT Serif', serif;
    text-transform: uppercase;
    font-size: 1.25em;
}
h3 {
	font-family: 'PT Serif', serif;
    text-transform: lowercase;
    font-style: .75em;
}
h4, h5, h6 {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
}
#topper {
    position: relative;
    width: 100%;
    background-size: 1165px;
}
/*#topper h1 {
    position: absolute;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	color: #333333;
    padding: 10px;
}*/
#quadrant{
	width: 488.5px;
/*	background-color: #E89C6C;
    border: 1px black solid;
    padding: 20px;*/
}
#about{
/*	float: right;*/
	width: 600px;
/*	background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;*/
}
#reserve {
/*	clear: both;*/
	font-family: 'Miniver', decorative;
	font-size: 2em;
}
#okra{
	size: 20%;
}
#recipe{
	width: 400px;
}
#contact {
	font-family: 'Miniver', display;
	color: #fff;
}
#table {
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
}
#goosey {
	width: 15%;
}
#wrapper {
	width: 1165px;
	margin-left: auto;
	margin-right: auto;
/*	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;*/
}
footer{
/*	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;*/
}